.character-preview-wrapper {
	text-align: center;
	margin-top: 10px;
	width: 100%;
}

.modal-body {
	p {
		margin-bottom: 10px;
	}
	width: 100%;
}

.modal-footer {
	width: 100%;
}

.row {
	width: 100%;
	margin: 0;
}