ng-template(#tooltip)
	.character-tooltip(style="position: relative")
		character-preview([pony]="pony?.ponyInfo" [name]="pony?.name" [tag]="previewTag" [allowAnyTag]="true" [passive]="true" [namePlateOffsetY]="-2" [tagOnlyNamePlateOffsetY]="-8")
		.character-tooltip-info
			.character-tooltip-name 
				from-now([time]="pony?.lastUsed")
				span.ml-1(*ngIf="pony?.deleted") [deleted]
			.character-tooltip-indicator(*ngIf="isBadCM") &bull;

span.cursor-pointer.badge(
	[ngClass]="labelClass" [class.deleted]="pony?.deleted" [class.badge-highlight]="highlight" (click)="click()"
	[tooltip]="tooltip" (onShown)="onShown()" containerClass="tooltip-pony")
	| {{pony?.name || '...'}}
