@import '../../../../styles/partials/variables';
@import '../../../../styles/partials/mixins';

.build-open-button {
    position: absolute;
    bottom: 15px;
    left: 4px;
    z-index: 2;
    bottom: 0;
    width: 42px;
	  height: 40px;
}