.pony-info-preview([style.background]="!noBackground ? '#ffffff' : 'transparent'")
	character-preview([pony]="pony" [name]="name" [passive]="passive" [scale]="scale" [tag]="tag" [allowAnyTag]="allowAnyTag" [noBackground]="noBackground" [noOutline]="true" [namePlateOffsetY]="namePlateOffsetY" [tagOnlyNamePlateOffsetY]="tagOnlyNamePlateOffsetY")
