character-preview(
	#characterPreview [pony]="previewPony" [name]="previewName" [tag]="previewTag" [state]="state" [noBackground]="true" [noShadow]="noShadow"
	[noOutline]="true" [scale]="scale" [style.width.px]="180" [style.height.px]="180" style="position: relative;" [style.top.px]="topOffset")
