@import '../../../../styles/partials/variables';

.character-select {
	max-width: 400px;
	margin: auto;
	z-index: 200;
	position: relative; /* allow overlaying controls */
}

character-list {
	@include media-breakpoint-down(sm) {
		left: auto;
		right: 0;
	}
}

/* Normal append area for control buttons */
.input-group-append {
	display: flex;
	flex-shrink: 0;
}

.character-emoji-button {
	width: 32px;
	height: 28px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: filter 120ms ease;
	flex-shrink: 0;

	&:hover {
		-webkit-filter: grayscale(0);
		filter: grayscale(0%);
	}
}

.emoji-dropdown {
	position: absolute;
	top: -2px;
	right: 0;
	z-index: 300;
	margin-top: 4px;
	pointer-events: auto;
}
