button.btn.btn-lg.btn-telegram.btn-outline-info.btn-block.mb-2(
	*ngIf="enableVisitTelegramButton"
	[class.nudging]="isNudging"
	(mouseenter)="pony.select(); onInteract()"
	(mouseout)="pony.reset()"
	(click)="openLeaveModal(); onInteract()"
	type="button")
	.telegram-logo
		fa-icon([icon]="telegramIcon")
	| {{'Visit Telegram!'}}
	.telegram-pony
		telegram-pony(#pony [scale]="2")

ng-template(#leaveSiteModal)
	leave-site-modal([title]="'Are you sure?'" [link]="telegramLink" [buttonLabel]="'Yes, leave'" (close)="closeLeaveModal()" (confirm)="confirmLeave()")
