button.btn.btn-lg.btn-pt.btn-outline-primary.btn-block.mb-2(
	*ngIf="enableVisitPTButton"
	[class.nudging]="isNudging"
	(mouseenter)="pony.select(); onInteract()"
	(mouseout)="pony.reset()"
	(click)="openLeaveModal(); onInteract()"
	type="button")
	.pt-logo
		fa-icon([icon]="appleIcon")
	| {{'Visit Pony Town main server!'}}
	.visit-pt-pony
		visit-pt-pony(#pony [scale]="2")

ng-template(#leaveSiteModal)
	leave-site-modal([title]="'Are you sure?'" [link]="ptLink" [buttonLabel]="'Yes, leave'" (close)="closeLeaveModal()" (confirm)="confirmLeave()")
