.modal-header.d-none.d-sm-block
    h4.modal-title {{title}}

.modal-body
    div(*ngIf="link")
        p.mb-3 {{title}} You will be redirected to 
            a.text-link([href]="link" target="_blank" rel="noopener") {{link}}
            | .
    div(*ngIf="!link")
        p.mb-3 No valid link provided.

.modal-footer.justify-content-end
    button.btn.btn-outline-secondary((click)="closeModal()") Cancel
    button.btn.btn-outline-danger((click)="confirmLeave()" *ngIf="link") {{buttonLabel}}